/* src/styles/override.css */
* {
  color: white !important;
}

ion-header {
  background: black !important;
}

ion-toolbar {
  background: black !important;
}

ion-content {
  background: transparent !important;
}